<header class="masthead" style="background-image: url('/About-Us.webp')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Transition</h1>
                    <span class="subheading">This is what We do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
        <!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Transition is the process or period of changing from one state or condition to another.</p>
                <p>We provide life quality data for different regions to assist in your transitions. When planning a big moves there was always a lot of data to be sourced from a myriad of different spaces. Transition aims to provide the public with a single platform to see all the information related to a proposed location prior to moving. This allows viewers to make a mindful decision on the next steps of their future.</p>
                <p>This web app is built on the <strong>Teleport-API</strong>, that allows provides the pertinent data to assit in transitions.</p>
            </div>
        </div>
    </div>
</main>